body {
    font-family: Arial, Helvetica, sans-serif;
}
form {
    border: 3px solid #f1f1f1;
}
input[type=text] {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    width: 100%;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
button:hover {
    opacity: 0.8;
}
h3 {
    background-color: #999999;
    color: white;
    padding: 12px 20px;
}
.enterContainer {
    padding: 16px;
}